 @import "tailwindcss";


:root {
  --white: #FAFAFF;
  --dark-blue: #083365;
  --light-blue: #32D0EB;
  --lighter-blue: #6CE0F6;
  --black: #0A0A0A;
}

body {
  background-color: var(--black);
  font-family: var(--font-montserrat), sans-serif;
  color: var(--white);
}

html{
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

section{
  min-height: 100vh;
}

